*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.button {
    background-color: #0061FF;
    color: white;
    border: 0px;
    padding: 9px 16px;   
    cursor: pointer;
}

.button:hover {
    background-color: #3885ff;
}

.big-container {
    width: 1350px;
    margin-inline: auto;
}

.container {
    width: 1000px;
    margin-inline: auto;
}

h3 {
    font-size: 1.5em;
}



/*--------- HEADER ---------*/

/* NAV */
header nav {
    width: 100%;
    height: 77.5px;
    padding-inline: .5rem;
    background-color: white;
     position: fixed;
     top: 0;
     left: 0;
        display: flex;
        justify-content: space-between;
        z-index: 50;
}

#left, #right {
    display: flex;
    gap: 1rem;
}

header nav ul {
    display: flex;
    align-items: stretch;
    gap: 1em;
    list-style: none;
}

header nav ul li {
    display: flex;
    align-items: center;
    padding-inline: 0.5em;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav li:hover {
    background-color: rgb(219, 238, 254);
    border-bottom: solid 2px rgb(166, 215, 232);
}

#nav-img, #nav-btn {
    background-color: white;
    border-bottom: solid 2px white;
}

/* SECTION */
header section {
    background-color: rgb(180,208,231);
    height: 20%;
    margin-top: 77.5px;
}

header section h1 {
    font-size: 77px;
    padding-top: 3rem;
    padding-bottom: 2rem;
    line-height: 1.3em;
}

#section-flex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#section-flex #section-text {
    flex-direction: column;
    height: fit-content;
    flex: 1 1 30%;
}

#section-flex button {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

#section-flex img {
    flex: 1 1 70%;
    min-width: 600px;
    margin-bottom: -80px;
}

#section-flex a {
    color: black;
}

#section-flex i {
    font-size: 40px;
    margin-top: 2em;
    margin-bottom: 0.2em;
}



/*--------- MAIN ---------*/
main {
    margin-top: 12em;
}

main h2 {
    font-size: 1.8em;
}

/* SECTION - FATTURAZIONE */
#fatturazione {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

#fatturazione .blue-dot {
    color: #0061FF;
}

#fatturazione .select-text {
    margin-right: 2em;
}

/* SECTION - PIANI */
/* container */
.piani-flex .piani .piano-container {
    font-size: 0.9em;
    width: 80%;
    margin-inline: auto;
    margin-top: 1.5em;
}

/* flex */
.piani-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

/* settaggio piani */
.piani-flex .piani {
    width: calc((100% / 3) - 2em);
    flex: 1 1 auto;
    border: solid rgb(205, 205, 205);
}

/* prime informazioni piano */
.titolo-piano {
    margin-inline: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid rgb(205, 205, 205);
    text-align: center;
}

.piani-flex .piani .prezzo-piano {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 1.5em;
}

.piani-flex .piani .info-prezzo-piano {
    color: grey;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

/* lista benefici */
.piani-flex .piani ul {
    --fa-li-margin: 1em;
    margin-bottom: 3rem;
}

.piani-flex .piani li {
    margin-bottom: 1.3em;
}

/* button */
.piani-flex .piani .button {
    margin-bottom: 2rem;
}

.piani-flex .piani hr {
    width: 3em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.piani-flex .piani .bold-piano {
    font-weight: bold;
    margin-bottom: 1.5em;
}

/* lista finale */
.piani-flex .piani li .blue {
    color:#0061FF;
}

/* piano 4 */
#piano-4 {
    flex: 0 0 100%;
    border: solid rgb(205, 205, 205);
}

#info-piano-4 {
    width: 90%;
    margin-inline: auto;
}

#info-piano-4 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

#info-piano-4 p {
    font-weight: bold;
    margin-top: 0.7em;
    margin-bottom: 3em;
}

#info-piano-4 div {
    width: 70%;
    margin-bottom: 1.7em;
}


/* SEZIONE "ENTRA IN COTATTO CON DROPBOX */
.contatto-dropbox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 3em;
    margin-top: 9em;
    margin-bottom: 9em;
}

.contatto-dropbox img {
    flex: 1 1 calc(65% - 1.5em);
    min-width: 500px;
}

.contatto-dropbox #info-contatto {
    flex: 1 1 calc(35% - 1.5em);
    align-self: center;
}

.contatto-dropbox #info-contatto p {
    margin-top: 1em;
    margin-bottom: 1.7em;
}

.contatto-dropbox #info-contatto button {
    padding: 9px 16px;  
    background-color: white;
    border: solid 1px grey;
}


/* SEZIONE "BUSINESS" */
main #flex-business {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

#flex-business .card {
    flex: 0 0 calc((100% / 3) - 1em);
    min-width: 250px;
}

#flex-business img {
    width: 100%;
    margin-top: 2.5em;
}

#flex-business p {
    margin-top: 1.5em;
}

/* dati business */
main section .dati-business {
    width: 50%;
}

main section .dati-business h2{
    margin-top: 7em;
    margin-bottom: 2em;
}


/* LOGHI CLIENTI */
main #sezione-loghi-flex {
    display: flex;
}

main .loghi-flex {
    flex: 0 0 calc((100% / 3) );
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
}

main .loghi {
    flex: 0 0 calc(100% / 2);
    display: flex;
    flex-wrap: wrap;
}

main .loghi .logo {
    flex: 0 0 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .loghi .logo img {
    width: 50%;
    height: fit-content;
    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(105%) contrast(102%); /* filtro trovato con https://codepen.io/sosuke/pen/Pjoqqp */
}

/* regole singoli loghi */
.loghi .designit {
    background-color: rgb(162,211,155);
    border: solid 15px rgb(209,233,205);
}

.loghi .asu-uni {
    background-color: rgb(97,8,43);
}

.loghi .uf-uni {
    background-color: rgb(0,147,206);
}

.loghi .topps {
    background-color: rgb(255,28,28);
}

.loghi .bicycle {
    background-color: rgb(213,0,31);
}

.loghi .hearts {
    background-color: rgb(180,208,231);
}

.loghi .lonely-planet {
    background-color: rgb(13,36,129);
}

.loghi .clear-channel {
    background-color: rgb(255,216,48);
}

/* logo selezionato */
#sezione-loghi-flex .selezionato {
    background-color: rgb(245,245,245);
    flex-direction: column;
}

#sezione-loghi-flex .selezionato #logo-container {
    width: 85%;
    margin-inline: auto;
}

#sezione-loghi-flex .selezionato #logo-selezionato {
    height: 20%;
    width: fit-content;
    margin-top: 55px;
    margin-bottom: 55px;
}

#sezione-loghi-flex .selezionato #logo-selezionato img {
    height: 100%;
}

#sezione-loghi-flex .selezionato hr {
    margin-bottom: 55px;
    width: 70px;
}

#sezione-loghi-flex .selezionato #testimonianza {
    font-size: 0.9em;
}

#sezione-loghi-flex .selezionato #testimonianza p {
    margin-bottom: 55px;
}


/* PROVA GRATUITA */
#prova-gratuita {
    background-color: rgb(180,208,231);
}

#prova-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    height: fit-content;
    margin-inline: auto;
    padding-top: 91.5px;
    padding-bottom: 91.5px;
}

#prova-flex h2 {
    color: rgb(97,8,43);
}

#prova-flex button {
    margin-top: 10px;
    border: 0px;
    background-color: white;
    padding: 10px 30px;
    min-width: 190px;
}


/* DOMANDE FREQUENTI */
main .faq {
    margin-top: 9em;
    margin-bottom: 8em;
}

main .faq h2 {
    margin-bottom: 1.7em;
}

main .faq .faq-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
}

main .faq .faq-flex i {
    margin-right: 2em;
    font-size: 12px;
    align-self: center;
}



/*--------- FOOTER ---------*/
footer {
    background-color: black;
    color: white;
}

footer .big-container {
    padding-top: 4.5em;
}

/* liste di link */
footer .big-container #footer-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 4.5em;
}

footer .big-container #footer-list ul {
    list-style: none;
}

footer .big-container #footer-list li {
    margin-top: 0.7em;
}

footer .big-container #footer-list li p {
    font-size: 0.8em;
}

footer .big-container h3 {
    font-size: 1.3em;
    padding-bottom: 0.7em;
}

/* hr */
footer hr {
    width: 10%;
    border: solid 1px rgb(105, 105, 105);
}

/* selezione lingua */
footer #footer-lang {
    font-size: 15px;
    margin-top: 2.5em;
    padding-bottom: 2.5em;
    color: rgb(105, 105, 105);
}

footer #footer-lang span {
    margin-left: 5px;
}

footer #footer-lang ul {
    min-width: 160px;
}

footer #footer-lang .fa-caret-up {
    vertical-align: bottom;
}