*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.button {
    background-color: #0061FF;
    color: white;
    border: 0px;
    padding: 9px 16px;   
}

.big-container {
    width: 1100px;
    margin-inline: auto;
}

.container {
    width: 950px;
    margin-inline: auto;
}

h3 {
    font-size: 1.5em;
}

/*--------- HEADER ---------*/

/* NAV */
header nav {
    height: fit-content;
    width: 100%;
    background-color: white;
     position: fixed;
     top: 0;
     left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 50;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

header nav li {
    margin: 14px;
}

header nav a {
    text-decoration: none;
    color: black;
}

/* SECTION */
header section {
    background-color: rgb(180,208,231);
    height: 39.5em;
    margin-top: 77.5px;
}

header section h1 {
    font-size: 77px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.3em;
}

#section-flex {
    display: flex;
}

#section-flex ul {
    flex: 0 0 50%;
    list-style: none;
}

#section-flex img {
    flex: 0 0 50%;
    width: 750px;
}

#section-flex button {
    margin-top: 2em;
    margin-bottom: 2em;
}

#section-flex i {
    font-size: 40px;
    margin-top: 1.2em;
}


/*--------- MAIN ---------*/
main {
    margin-top: 7em;
}

main h2 {
    font-size: 1.8em;
}

/* SECTION - FATTURAZIONE */
#fatturazione {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#fatturazione .select-circle {
    color: #0061FF;
}

#fatturazione .select-text {
    margin-right: 2em;
}

/* SECTION - PIANI */
/* container */
.piani-flex .piani .piano-container {
    font-size: 0.9em;
    width: 80%;
    margin-inline: auto;
    margin-top: 1.5em;
}

/* flex */
.piani-flex {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

/* settaggio piani */
.piani-flex .piani {
    flex: 0 0 calc((100% / 3) - 1em);
    border: solid rgb(205, 205, 205);
    margin-bottom: 2.5em;
}

/* prime informazioni piano */
.titolo-piano {
    margin-inline: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid rgb(205, 205, 205);
    text-align: center;
}

.piani-flex .piani .prezzo-piano {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 1.5em;
}

.piani-flex .piani .info-prezzo-piano {
    color: grey;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

/* lista benefici */
.piani-flex .piani ul {
    --fa-li-margin: 1em;
    margin-bottom: 3rem;
}

.piani-flex .piani li {
    margin-bottom: 1.3em;
}

/* button */
.piani-flex .piani .button {
    margin-bottom: 2rem;
}

.piani-flex .piani hr {
    width: 3em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.piani-flex .piani .bold-piano {
    font-weight: bold;
    margin-bottom: 1.5em;
}

/* lista finale */
.piani-flex .piani li .blue {
    color:#0061FF;
}

/* piano 4 - titolo piano */
main #piano-4 {
    border: solid rgb(205, 205, 205);
}

/* piano 4 - info del piano */
main #piano-4 #info-piano-4 {
    width: 90%;
    margin-inline: auto;
}

#info-piano-4 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

#info-piano-4 p {
    font-weight: bold;
    margin-top: 0.7em;
    margin-bottom: 3em;
}

#info-piano-4 div {
    width: 70%;
    margin-bottom: 1.7em;
}


/* SEZIONE "ENTRA IN COTATTO CON DROPBOX */
.contatto-dropbox {
    height: 45em;
    display: flex;
    align-items: center;
    gap: 3em;
}

.contatto-dropbox img {
    width: 560px;
}

.contatto-dropbox #info-contatto {
    width: 33%;
}

.contatto-dropbox #info-contatto p {
    margin-top: 1em;
    margin-bottom: 1.7em;
}

.contatto-dropbox #info-contatto button {
    padding: 9px 16px;  
    background-color: white;
    border: solid 1px grey;
}


/* SEZIONE "BUSINESS" */
main #flex-business {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

#flex-business .card {
    flex: 0 0 calc((100% / 3) - 1em);
}

#flex-business img {
    width: 100%;
    margin-top: 2.5em;
}

#flex-business p {
    margin-top: 1.5em;
}

/* dati business */
main section .dati-business {
    width: 50%;
}

main section .dati-business h2{
    margin-top: 7em;
    margin-bottom: 2em;
}


/* DESIGNIT */
main .loghi {
    display: flex;
    flex-wrap: wrap;
    
}